/* цвет заголовков #212121
основной текст #757575
ховер #2196F3
лого черный #000000
белый #FFFFFF
кнопка #2196F3*/

/* вторичный цвет фона #F5F4FA */
/* основной цвет фона #F5F5F5 */
/* футер #2F303A */

/* шрифт 900,700,500,400 */

/* html {
  box-sizing: border-box;
} */

/* *, *::before, *::after {
  box-sizing: inherit;
} */




/* logo, menu and contacts header */



/* header flex*/


/* menu flex */

/* контакты флекс */

/* hero */


/* button */


/* sections */

/* .section .title {
  color: var(--title-text-color);
} */

/* features */


/* about our works */


/* team */



/* clients */


/* modal */


/* форма */



/* footer */







/* Portfolio */

/* portfolio filters */

/* portfolio list */


/* тумабааа */

